
.header-wrapper {
    position: relative;

}

.header-container {
    position: absolute;
    width: 100%;
    min-height: 50px;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 2000;
}

.navbar {
    width: 100%;

}

.collapse {
    justify-content: right !important;
    flex: 1;
}

.navbar-nav {
    align-items: center !important;
}


.navbar-nav > li {
    padding: 0 10px;
}

.navbar-nav > li a {
    text-decoration: none;
}
.header-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100px;

}

.header-user i {
    padding-right: 10px;
}

.nav-item a {
    color: black;
}

.navbar-toggler {
    background-color: white;
}

.header-logo {
    display: flex;
    justify-content: left;
}

.header-logo a {
    font-weight: 700;
    font-size: 20px;
}