#footer {
	position: relative;
	top: 100px;
	background-color: #000;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 120px;
}

#footer .mail-author-icon {
	margin: 0 30px;
}

/* Medium devices (tablets, less than 992px) */

/* (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
	#footer {
		padding: 30px 0;
		flex-direction: column;
	}
}